@model FiltroRelatorioVAInputModel
@{
    ViewData["Title"] = "Filtro relatório";
}

<form asp-controller="Relatorio" asp-action="AgendamentoPorPeriodo" method="post" target="_blank">
    @Html.Partial("_FiltroRelatorioVendasAgendamentos", Model)
    <div class="form-row align-items-center mt-3">
        <div class="col-auto my-1">
            <button type="submit" class="btn btn-success">Emitir</button>
        </div>
    </div>
</form>

