@model IEnumerable<ProdutoViewModel>
@{
    ViewData["Title"] = "Listagem de Produtos";
}

<div class="container mt-5">
    <button type="button" class="btn btn-success"><a asp-controller="Produto" asp-action="Criar">Criar</a></button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Código <input type="text" class="form-control" id="filtroCodigo" placeholder="Filtrar"></th>
                <th scope="col">Nome <input type="text" class="form-control" id="filtroNome" placeholder="Filtrar"></th>
                <th scope="col">Marca <input type="text" class="form-control" id="filtroMarca" placeholder="Filtrar"></th>
                <th scope="col">Valor de Vendas <input type="text" class="form-control" id="filtroValorVendas" placeholder="Filtrar"></th>
                <th scope="col">Configuração</th>
            </tr>
        </thead>
        <tbody id="tabelaProdutos">
            @foreach (var produto in Model)
            {
                <tr>
                    <td>@produto.Codigo</td>
                    <td>@produto.Nome</td>
                    <td>@produto.Marca</td>
                    <td>R$ @produto.ValorVendas</td>
                    <td>
                        <a href="/Produto/Config/@produto.Codigo" class="btn btn-success"><i class="fa-solid fa-gear"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const filtros = document.querySelectorAll('input[type="text"]');
        filtros.forEach(filtro => {
            filtro.addEventListener("input", filtrarTabela);
        });
    });

    function filtrarTabela() {
        const filtroCodigo = document.getElementById('filtroCodigo').value.toUpperCase();
        const filtroNome = document.getElementById('filtroNome').value.toUpperCase();
        const filtroMarca = document.getElementById('filtroMarca').value.toUpperCase();
        const filtroValorVendas = document.getElementById('filtroValorVendas').value.toUpperCase();

        const linhas = document.querySelectorAll('#tabelaProdutos tr');

        linhas.forEach(linha => {
            const colCodigo = linha.cells[0].textContent.toUpperCase();
            const colNome = linha.cells[1].textContent.toUpperCase();
            const colMarca = linha.cells[2].textContent.toUpperCase();
            const colValorVendas = linha.cells[3].textContent.toUpperCase();

            if (colCodigo.includes(filtroCodigo) &&
                colNome.includes(filtroNome) &&
                colMarca.includes(filtroMarca) &&
                colValorVendas.includes(filtroValorVendas)) {
                linha.style.display = "";
            } else {
                linha.style.display = "none";
            }
        });
    }
</script>
