@{
    ViewData["Title"] = "Sistema de Gerenciamento";
}

<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vendas</h5>
                    <p class="card-text">Vendas Hoje: 10</p>
                    <p class="card-text">Total Vendas: R$ 150</p>
                    <p class="card-text">Total Vendas Mensal: R$ 150</p>
                    <p class="card-text">Ultima Venda: 10/10/2024</p>
                    <p class="card-text">Cliente com mais vendas: Rafael</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Agendamentos</h5>
                    <p class="card-text">Agendamentos Hoje: 5</p>
                    <p class="card-text">Total Agendamentos: 50</p>
                    <p class="card-text">Proximo Agendamento: 50</p>
                    <p class="card-text">Total Agendamentos: R$ 150</p>
                    <p class="card-text">Total Agendamentos Mensal: R$ 150</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Produtos</h5>
                    <p class="card-text">Produtos Cadastrador: 1</p>
                    <p class="card-text">Produtos para venda: 1</p>
                    <p class="card-text">Produtos controle estoque: 1</p>
                    <p class="card-text">Produtos com mais vendas: 1</p>
                    <p class="card-text">Ultimo produto vendido: 1</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Serviços</h5>
                    <p class="card-text">Serviços criados: 1</p>
                    <p class="card-text">Serviços feitos no dia: Valor do Serviço</p>
                    <p class="card-text">Serviços feitos no mês: Valor do Serviço</p>
                    <p class="card-text">Serviço mais realizado: Valor do Serviço</p>
                    <p class="card-text">Serviço menos realizado: a</p>
                </div>
            </div>
        </div>
    </div>
</div>