<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Studio Hair - @ViewData["Title"]</title>
    <link rel="icon" href="~/images/hair-salon.png" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudioHair.WebApp.styles.css" asp-append-version="true" />
</head>


<body>
    <header>
        <div class="titulo-sistema">
            <a asp-controller="Home" asp-action="Index">Studio Hair - @ViewData["Title"]</a>
        </div>
        <nav id="nav" class="navbar navbar-expand-lg">
            <ul class="navbar-nav mr-auto">

                @if (User.IsInRole("Administrador") || User.IsInRole("Gerente"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Usuário
                        </a>
                        <ul class="dropdown-menu dropdown-menu-horizontal">
                            <li><a asp-controller="Usuario" asp-action="Criar" class="dropdown-item">Criar</a></li>
                            <li><a asp-controller="Usuario" asp-action="List" class="dropdown-item">Consulta</a></li>
                        </ul>
                    </li>
                }
                
                @if (User.IsInRole("Administrador") || User.IsInRole("Gerente") || User.IsInRole("Funcionario"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Cliente
                        </a>
                        <ul class="dropdown-menu dropdown-menu-horizontal">
                            <li><a asp-controller="Cliente" asp-action="Criar" class="dropdown-item">Criar</a></li>
                            <li><a asp-controller="Cliente" asp-action="List" class="dropdown-item">Consultar</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Produto
                        </a>
                        <ul class="dropdown-menu dropdown-menu-horizontal">
                            <li><a asp-controller="Produto" asp-action="Criar" class="dropdown-item">Criar</a></li>
                            <li><a asp-controller="Produto" asp-action="List" class="dropdown-item">Consultar</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Serviço
                        </a>
                        <ul class="dropdown-menu dropdown-menu-horizontal">
                            <li><a asp-controller="Servico" asp-action="Criar" class="dropdown-item">Criar</a></li>
                            <li><a asp-controller="Servico" asp-action="List" class="dropdown-item">Consultar</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Venda
                        </a>
                        <ul class="dropdown-menu dropdown-menu-horizontal">
                            <li><a asp-controller="Venda" asp-action="Criar" class="dropdown-item">Criar</a></li>
                            <li><a asp-controller="Venda" asp-action="List" class="dropdown-item">Consulta</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Agendamento
                        </a>
                        <ul class="dropdown-menu dropdown-menu-horizontal">
                            <li><a asp-controller="Agendamento" asp-action="Criar" class="dropdown-item">Criar</a></li>
                            <li><a asp-controller="Agendamento" asp-action="List" class="dropdown-item">Consultar</a></li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole("Administrador") || User.IsInRole("Gerente"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Relatório
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#" role="button">
                                    Vendas
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Relatorio" asp-action="VendasPorPeriodo" class="dropdown-item">Vendas por Período</a></li>
                                    <li><a asp-controller="Relatorio" asp-action="TicketMedio" class="dropdown-item">Ticket Médio</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#" role="button">
                                    Agendamentos
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Relatorio" asp-action="AgendamentoPorPeriodo" class="dropdown-item">Agendamentos por Período</a></li>
                                    <li><a asp-controller="Relatorio" asp-action="FrequenciaSalao" class="dropdown-item">Frequencia no Salão</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                }

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Perfil
                    </a>
                    <ul class="dropdown-menu dropdown-menu-horizontal">
                        <li><a asp-controller="Usuario" asp-action="Criar" class="dropdown-item">Mensagens</a></li>
                        <li><a asp-controller="Usuario" asp-action="Logout" class="dropdown-item">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Validacoes" />
            @RenderBody()
        </main>
    </div>

    <script src="https://kit.fontawesome.com/6c33e49b8c.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(document).ready(function () {
            $('.dropdown-submenu a.dropdown-toggle').on("click", function (e) {
                $('.dropdown-submenu').not($(this).parent()).find('.dropdown-menu').hide();
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
            $(document).on('click', function (e) {
                if (!$(e.target).closest('.dropdown-submenu').length) {
                    $('.dropdown-submenu').removeClass('show');
                }
            });
        });
    </script>
</body>
</html>
