<!-- Views/Shared/_Validacoes.cshtml -->
@if (TempData["Sucesso"] != null)
{
    <div id="mensagem-sucesso" class="alert alert-success" role="alert">
        @TempData["Sucesso"]
    </div>
}
@if (TempData["Erro"] != null)
{
    <div id="mensagem-erro" class="alert alert-danger" role="alert">
        @TempData["Erro"]
    </div>
}
@if (TempData["AcessoNegado"] != null)
{
    <div id="mensagem-acesso-negado" class="alert alert-danger" role="alert">
        @TempData["AcessoNegado"]
    </div>
}
@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger" role="alert">
        Ocorreram erros ao processar o formulário:
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
