@model IEnumerable<ServicosViewModel>
@{
    ViewData["Title"] = "Consulta de Serviços";
}

<div class="container mt-5">
    <button type="button" class="btn btn-success"><a asp-controller="Servico" asp-action="Criar">Criar</a></button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nome <input type="text" class="form-control" id="filtroNome" placeholder="Filtrar"></th>
                <th scope="col">Duração em Minutos <input type="text" class="form-control" id="filtroDuracao" placeholder="Filtrar"></th>
                <th scope="col">Valor do Serviço <input type="text" class="form-control" id="filtroValor" placeholder="Filtrar"></th>
                <th scope="col">Configuração</th>
            </tr>
        </thead>
        <tbody id="tabelaServicos">
            @foreach (var servico in Model)
            {
                <tr>
                    <td>@servico.Nome</td>
                    <td>@servico.DuracaoEmMinutos</td>
                    <td>R$ @servico.ValorSevico</td>
                    <td>
                        <a href="/Servico/Config/@servico.Id" class="btn btn-success"><i class="fa-solid fa-gear"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const filtros = document.querySelectorAll('input[type="text"]');
        filtros.forEach(filtro => {
            filtro.addEventListener("input", filtrarTabela);
        });
    });

    function filtrarTabela() {
        const filtroNome = document.getElementById('filtroNome').value.toUpperCase();
        const filtroDuracao = document.getElementById('filtroDuracao').value.toUpperCase();
        const filtroValor = document.getElementById('filtroValor').value.toUpperCase();

        const linhas = document.querySelectorAll('#tabelaServicos tr');

        linhas.forEach(linha => {
            const colNome = linha.cells[0].textContent.toUpperCase();
            const colDuracao = linha.cells[1].textContent.toUpperCase();
            const colValor = linha.cells[2].textContent.toUpperCase();

            if (colNome.includes(filtroNome) &&
                colDuracao.includes(filtroDuracao) &&
                colValor.includes(filtroValor)) {
                linha.style.display = "";
            } else {
                linha.style.display = "none";
            }
        });
    }
</script>
