@model UsuarioLoginInputModel
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Login";
}

<partial name="_Validacoes" />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h3 class="text-center">Acesse Studio Hair</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Login" asp-controller="Usuario" method="post">
                        <div class="form-group">
                            <label asp-for="Nome">Usuário</label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-2">
                            <label asp-for="Senha">Senha</label>
                            <input asp-for="Senha" type="password" class="form-control" />
                            <span asp-validation-for="Senha" class="text-danger"></span>
                        </div>
                        <button type="submit" id="btn-login" class="btn btn-success btn-block">Entrar</button>
                        <button id="btn-validando" class="btn btn-primary btn-block d-none">Validando ...</button>
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var btnLogin = document.querySelector("#btn-login");
    var btnValidando = document.querySelector("#btn-validando");

    function TrocarBotoes() {
        btnLogin.classList.add("d-none");
        btnValidando.classList.remove("d-none");
    }

    btnLogin.addEventListener("click", TrocarBotoes);
</script>